body {
    transition: background-color 0.2s ease-in-out;
}
#root {
    margin: 6rem auto;
}
.btn-lights-status {
    transition: all 0.2s ease-in-out;
}
    .btn-lights-status:hover {
        background-color: #e11d6d;
    }
.btn-lights-status.fetching {
    background-color: darkgray;
}
    .btn-lights-status.fetching:hover {
        background-color: darkgray;
    }
.table-lights-status td {
    padding: 0.3rem 0 !important;
    transition: all 0.2s ease-in-out;
}
.table-lights-status tr {
    transition: all 1s ease-in-out;
}
    .table-lights-status tr:hover {
        transition: all 0.1s ease-in-out;
        color: #fff;
    }
.table-lights-status tr.fetch-success {
    animation: success 1s ease-in-out;
    animation-fill-mode: forwards;
}
.table-lights-status tr.fetch-failure {
    animation: failure 2s ease-in-out;
    animation-fill-mode: forwards;
}
.mantine-Slider-bar {
    transition: box-shadow 0.5s ease-in-out;
}
.mantine-Slider-track:hover .mantine-Slider-bar {
    transition: box-shadow 0.15s ease-in-out;
    box-shadow: 0 0 0 2px #4f575a;
}
.mantine-Slider-thumb {
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #53ffb4;
}
.mantine-Slider-dragging {
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0 0 1px 5px #e11d6d;
}
.mantine-ColorPicker-thumb {
    transition: transform 0.7s ease-in-out;
    box-shadow: 0 0 0 0 #53ffb4;
    transform: scale(2);
}
.mantine-ColorPicker-thumb:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(2.5);
}
.effect-button {
    user-select: none;
    cursor: default;
    margin: 0.5rem;
}
.hover-effect {
}

.hidden {
    opacity: 0;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes headerEffect {
    0% {
        opacity: 1;
        background-color: #6a0dff;
        color: white;
    }
    100% {
        opacity: 0;
    }
}

@keyframes headerButtonComplete {
    0% {
        background-color: white;
        color:  #6a0dff;
    }
    100% {
        background-color: #6a0dff;
        color: white;
    }
}

@keyframes headerButtonCompleteNoHover {
    0% {
        background-color: #6a0dff;
        color: white;
    }
    100% {
        background-color: #121111;
    }
}

@keyframes success {
    0% {
        background-color: rgba(79,255,175,0.15);
    }
    100% {
        background-color: #25262b;
    }
}

@keyframes failure {
    0% {
        background-color: #25262b;
    }
    50% {
        background-color: rgba(225,29,109,0.35);
    }
    100% {
        background-color: #25262b;
    }
}

@keyframes newSync {
    0% {
        background-color: rgba(76,161,255,0.48);
    }
    100% {
        background-color: #25262b;
    }
}